[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
schedule = "*"
pyautogui = "*"
twilio = "*"
webdriver-manager = "*"
flask = "*"
gunicorn = "*"
flask-mail = "*"
python-dotenv = "*"
flask-redmail = "*"

[dev-packages]

[requires]
python_version = "3.12"
